body {
  position: relative;
  width: 900px;
  left: 170px;
}

h1 {
  font-size: 36px;
  font-family: 'Impact', sans-serif;
}

h4 {
  font-size: 16px;
  font-family: 'Arial Narrow', sans-serif;
  font-stretch: extra-condensed;
  font-weight: lighter;
  color: lightgray;
}

ul {
  list-style: none;
  display: inline-block;
}
li {
  display: inline;
}
