body {
  position: relative;
  width: 900px;
  left: 170px;
}

h1 {
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0;
  margin-top: 60px;
  color: #1a1a1a;
  font-weight: 800;
}

h2 {
  color: darkgray;
  size: 18px;
}

.van {
  font-size: 20px;
  color: black;
  font-family: 'Georgia', serif;
  font-weight: bold;
}

h4 {
  display: inline-block;
  font-size: 15px;
  font-family: 'Rajdhani', sans-serif;
  color: #bfbfbf;
  text-shadow: 3px white;
  float: right;
  margin:0;
  vertical-align: text-top;
  font-weight: 100;
}

h5 {
  display: inline-block;
  font-family: 'Arial Narrow', sans-serif;
  font-size: 11px;
  color: #4d4d4d;
  line-height: 15px;
  margin-left: 12px;
  font-weight: lighter;
}

h6 {
  margin-top: 0;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: text-top;
  font-family: 'Advent Pro', sans-serif;
  font-size: 14px;
  color: #bfbfbf;
  font-weight: 100;
}

p {
  font-family: 'Martel', serif;
  font-size: 16px;
  text-shadow: 2px 2px white;
  color: black;
  line-height: 27px;
  opacity: 0.7;
  font-weight: 100;
}

header ul {
  list-style: none;
  display: inline-block;
  float: right;
}

header img {
  display: inline-block;
  margin-left: 2px;
}

.rss {
  margin-left: 10px;
}

li {
  list-style-position: outside;
  display: inline;
  color: #737373;
  font-family: 'Tahoma', serif;
  font-size: 19px;
  line-height: 25px;
  font-weight: 100;
}

main {
  clear: both;
}

.pizzaImg {
  margin-top: 25px;
}

.instructions p {
  text-indent: 30px;
}

.delicious {
  font-family: 'Yellowtail', cursive;
  color: #1a1a1a;
  font-weight: bold;
  font-size: 38px;
}

.ingredientsContainer {
  width: 900px;
  height: 300px;
  background-image: url(img/list-bg.png);
}

.ingredientsContainer li {
  display: block;
  margin: 6px 6px 0px 0px;
  background-color: #fefbea;
}

.ingredientsContainer ul {
  vertical-align: top;
  padding-top: 18px;
  margin-left: 18px;
  margin-bottom: 100px;
  margin-right: -80px;
  width: 410px;
  height: 200px;
  float: left;
}

article {
  clear: left;
  vertical-align: middle;
  margin-bottom: 35px;
}

article img, p {
  display: inline-block;
}

article img {
  margin-right: 20px;
}

article p {
  width: 600px;
}

.line1, .line2 {
  position: relative;
  display: inline-block;
  border-top: 1px solid #ececec;
  width: 420px;
}

.line1 {
  margin-right: 15px;
  left: 0;
}

.line2 {
  margin-left: 10px;
  right: 0;
}

.lineImg {
  position: relative;
  display: inline-block;
  top: 14px;
}

footer {
  text-align: center;
  margin-top: 40px;
}

footer p {
  display: block;
  color: #8c8c8c;
  font-family: 'Georgia', serif;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  vertical-align: text-bottom;
  font-weight: 100;
}

div {
  width: 900px;
}



.share {
  display: inline-block;
  width: 180px;
  height: 52px;
  background-color: #bc7058;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 19px;
  text-align: center;
  vertical-align: top;
  margin-top: 25px;
  line-height: 3;
  font-weight: 100;
  margin-left: 24px;
}

.share:hover {
  cursor: pointer;
  background-color: maroon;
}

hr.styleDiag {
	height: 13px;
	background: url(img/diagonal.png);
  border: 0;
}

.struck {
  text-decoration: line-through;
}
